/* Resetting default margins, paddings, and box model */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
}

.bBlock{
    height: 4vh;
    background-color: blue;
}

section{
    margin-top: 2vh;
}

.yBlock{
    height: 3vh;
    background-color: yellow;
}
.header{
    background-color: yellow;
}

body .header h1 {
    font-size: 3vh;
    padding: .5vh;
    font-weight: bold;
}

.activityBox{
    margin-top: 10vh;

}

h3 {
    font-size: 3vh;
    font-weight: bolder;
    margin-top: 2vh;
}